/* **************************************************
                        HEADER
*************************************************** */
header p {
 /* .rightColumn{
float: right; */

  
  padding-left: 10em;
  margin: 20px;
  color:red;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5em;

  /*font-family: "Times New Roman" sans-serif;*/
  font-family: "Times New Roman", Times, serif;
  margin-right: 1px;
}

header {

  border: 1.5px solid black;
  background-color: white;
}

header ul{
  width: 10%;
  float: left;
  list-style-type: none;
  
}

#starbeat{
  padding-top: 18px;
}
header h3{
  margin-right: 15px;
}
/* **************************************************
                        NAV
*************************************************** */

  /* basic menu code 1.0 */
.dropmenu {
  background-color: blue;
  width: 100%;
}

.dropmenu ul {
  margin: 0;
  padding: 0;
}

.dropmenu li {
  float: left;
  list-style: none;
  background: #bbb;
  position: relative;
}

.dropmenu li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.25em 1em;
}

.dropmenu li ul {
  display: none;
  position: absolute;
  left: 0; top: 100%;
  width: 10em;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropmenu li ul li {
  float: none;
}

.dropmenu li ul li ul {
  left: 100%; top: 0;
}

.dropmenu li:hover {
  background: #aaa;
}

.dropmenu li:hover > ul {
  display: block;
}

.dropmenu li.dir > a:after {
  content: " >";
  color: #fff;
}

.dropmenu:after {
  content: "";
  display: table;
  clear: both;
}


/* **************************************************
                        BODY
*************************************************** */
p {color:black;}
body {

  background-color: #04A7EE;

  font-family: Helvetica;
}

.middleColumn{
  margin-left: .2%;
  width: 33%;
  min-height: 35em;
  display:inline-block;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
}
.leftColumn{
  float: left;
  width: 32.5%;
  min-height: 35em;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

.rightColumn{
  margin-right: .9%;
  float: right;
  width: 32%;
  min-height: 35em;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

table{
  clear: both;
  margin:auto;
  border: 2px solid black;

}



.container3 {
  color: blue;   
  text-align: center;
  padding-bottom: 1em;
 }
.container4 {
  text-align: left;
}

/* **************************************************
                        FOOTER
*************************************************** */
footer p {
  color:blue;
  border: 2px solid black;
}

