/* **************************************************
                        HEADER
*************************************************** */
header p {
 /* .rightColumn{
float: right; */

  
  padding-right: 10px;
  color:yellow;
  font-weight: bold;
  text-decoration: underline;
  font-size: 3.5em;

  font-family: "Times New Roman", sans-serif;
  margin-right: 5px;
}

header {

  border: 1.5px solid black;
  background-color: white;
}

header ul{
  width: 10%;
  float: left;
}

#starbeat{
  padding-top: 18px;
}
/* **************************************************
                        NAV
*************************************************** */
 nav ul li{
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  padding-bottom: 2px; 
  border-radius: 50px;
  box-shadow: 2px 6px 10px gray;
  width: 10%;
}
  li a{
    text-decoration: none;
  }

  li{
    list-style-type: none;
  }

nav{
  border: 2px solid black; 
  clear: both;
}

li a:link{

}

li a:visited{
  color:red;
}
li a:hover{
  color:yellow;
  background-color: blue;
}

li a:active{
  color:red;
}


/* **************************************************
                        BODY
*************************************************** */
p {color:red;}
body {

  background-color: #04A7EE;

  font-family: Helvetica;
}

.middleColumn{
  width: 33%;
  display:inline-block;
  border: 2px solid black;
}
.leftColumn{
  float: left;
  width: 33%;
  border: 2px solid black;
}

.rightColumn{
  float: right;
  width: 33%;
  border: 2px solid black;
}

table{
  clear: both;
  margin:auto;
  border: 2px solid black;

}


subnav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    display:block;
    }
     
subnav ul li {
    float:left;
    display:list-item;
    list-style: none; 
     
    background-color:#64abfb;
    border-bottom: 5px solid #2ecc71;
    }
  
subnav ul li a {
    display:block;
    padding:15px 10px;  
     
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    font-family: 'Bree Serif', 'serif';
}
  
li a:hover { background-color: #2ecc71; }

subnav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    display:block;
    }
     
subnav ul li {
    float:left;
    display:list-item;
    list-style: none; 
     
    background-color:#64abfb;
    border-bottom: 5px solid #2ecc71;
    }
  
subnav ul li a {
    display:block;
    padding:15px 10px;  
     
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    font-family: 'Bree Serif', 'serif';
}
  
li a:hover { background-color: #2ecc71; }

/* **************************************************
                        FOOTER
*************************************************** */
footer p {
  color:blue;
  border: 2px solid black;
}

